<div ng-if="route == 'bids'">
  <table cellspacing=0 cellpadding=0 width="100%">
    <tr ng-repeat="bid in bids">
      <!-- if results came back -->
      <div ng-if="total != 0">
        <td class="log_td">
          <!-- home image -->
          <div class="float_left">
            <div ng-if="bid.image.length > 0">
              <div ng-repeat="imagex in bid.image">
                <div ng-showimage ng-size=thumb ng-image="{{imagex.image.medium.url}}"></div>
              </div>
            </div>
            <div ng-if="bid.image.length == 0">
              <div ng-showimage ng-size=thumb ng-image="{{imagex.image.medium.url}}"></div>
            </div>
          </div>
          <div class="float_left">
            <div class="log_heading_small">
              <a href="/#/homes/show/{{bid.homes_id}}">
                <span class="table_title_padding" ng-bind="bid.address"></span><span ng-if="!bid.address2">,</span>
                <span ng-if="bid.address2" ng-bind="bid.address2">,</span>
                <span ng-bind="bid.city"></span>, 
                <span ng-bind="bid.state"></span>, 
                <span ng-bind="bid.zip"></span>
              </a>
            </div>
            <div class="log_currency">
              <b>House Price:</b> <span ng-bind="bid.homes_price|currency:$|notAvailable"></span>
            </div>
            <div class="log_currency">
              <b>Bid:</b> <span ng-bind="bid.bids_price|currency:$|notAvailable"></span>
            </div>
          </div>
          <div class="float_right">
            <span ng-bind="bid.bids_created_at|dateFormat|notAvailable"></span>
          </div>
        </td>
      </div>
      <!-- if NO results came back -->
      <div ng-empty ng-total={{total}}></div>
    </tr>
  </table>
</div>
