<!DOCTYPE html>
<html ng-app="house">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/form.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="directives/angular-file-upload-shim.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js"></script>
    <script src="directives/angular-file-upload.min.js"></script> 
    <script src="common/common.js"></script> 
    <script src="app.js"></script>
    <script src="directives/image.js"></script> 
    <script src="services/token.js"></script>
    <script src="services/search.js"></script>
    <script src="services/home.js"></script>
    <script src="services/user.js"></script>
    <script src="services/image.js"></script>
    <script src="services/bid.js"></script>
    <script src="controllers/searchesController.js"></script>
    <script src="controllers/homesController.js"></script>
    <script src="controllers/usersController.js"></script>
    <script src="controllers/bidsController.js"></script>
  </head>
  <body>
    <!-- header -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">
            <div style="padding-bottom:10px"><img src="images/home_32.png" width="28px"></div>
            <div class="navbar-header-name">ePerty</div>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <!-- user NOT logged in -->
          <ul ng-show="!$root.token" class="nav navbar-nav navbar-right">
            <li>
              <a href="/#/public/how_it_works">
                How it Works
              </a>
            </li>
            <li>
              <a href="/#/public/pricing">
                Pricing
              </a>
            </li>
            <li>
              <a href="/#/public/contact">
                Contact
              </a>
            </li>
            <li>
              <a href="/#/public/career">
                Careers
              </a>
            </li>
            <li ng-show="!$root.token" class="list_button_small">
              <a href="/#/users/sign_in">
                <button type="button" class="btn btn-default btn-xs">Sign In</button>
              </a>
            </li>
            <li ng-show="!$root.token">
              <a href="/#/users/new">
                <button type="button" class="btn btn-primary btn-xs">Sign Up</button>
              </a>
            </li>
          </ul>
          <!-- user logged in -->
          <ul ng-show="$root.token" class="nav navbar-nav navbar-right">
            <li>
              <a href="/#/public/how_it_works">
                Home
              </a>
            </li>
            <li class="dropdown" style="cursor:pointer">
              <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">
                Profile<b class="caret"></b>
              </a>
              <ul class="dropdown-menu" style="margin-top:3px">
                <li>
                  <a href="/#/users/show/{{$root.token}}">
                    View
                  </a>
                </li>
                <li>
                  <a href="/#/users/edit/{{$root.token}}">
                    Update
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown" style="cursor:pointer">
              <a class="dropdown-toggle" data-toggle="dropdown">
                Houses<b class="caret"></b>
              </a>
              <ul class="dropdown-menu" style="margin-top:3px">
                <li>
                  <a href="/#/homes/index">
                    View your houses
                  </a>
                </li>
                <li>
                  <a href="/#/homes/new">
                    Sell your house
                  </a>
                </li>
              </ul>
            </li>
            <li ng-controller="usersController">
              <a ng-click="logoutUser()">
                <button type="button" class="btn btn-primary btn-xs">Sign Out</button>
              </a>
            </li>
          </ul>
          <!-- search -->
          <div class="navbar-right" ng-controller="searchesController">
            <div class="input-group">
              <form class="navbar-form" ng-submit="searchRedirect()">
                <input type="text" class="form-control" ng-model="query" placeholder="Property search...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    Go!
                  </button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ng-view -->
    <div class="container-fluid">
      <div class="row">
        <div class="page span12" ng-view></div>
      </div>
    </div>
  </body>
</html>
