<!DOCTYPE html>
<html ng-app="house" ng-controller="applicationController">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>ePerty - Your House, Your Commission</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/form.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/public.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/gallery.css">
    <link rel="stylesheet" href="stylesheets/log.css">
    <link rel="stylesheet" href="stylesheets/user.css">
    <link rel="stylesheet" href="stylesheets/bootstrap_overwrite.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="directives/angular-file-upload-shim.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
    <script src="directives/angular-file-upload.min.js"></script> 
    <script src="common/common.js"></script>
    <script src="app.js"></script>
    <script src="interceptors/response.js"></script>
    <script src="filters/generic.js"></script> 
    <script src="directives/public.js"></script> 
    <script src="directives/image.js"></script> 
    <script src="directives/user.js"></script>
    <script src="directives/empty.js"></script> 
    <script src="services/token.js"></script>
    <script src="services/search.js"></script>
    <script src="services/home.js"></script>
    <script src="services/user.js"></script>
    <script src="services/image.js"></script>
    <script src="services/bid.js"></script>
    <script src="services/message.js"></script>
    <script src="services/log.js"></script>
    <script src="controllers/applicationController.js"></script>
    <script src="controllers/searchesController.js"></script>
    <script src="controllers/homesController.js"></script>
    <script src="controllers/usersController.js"></script>
    <script src="controllers/bidsController.js"></script>
    <script src="controllers/messagesController.js"></script>

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- header -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">
            <div class="navbar-header-name">ePerty</div>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <!-- user NOT logged in -->
          <ul ng-show="!$root.token" class="nav navbar-nav navbar-right">
            <li>
              <a href="/#/public/how_it_works">
                How it Works
              </a>
            </li>
            <li>
              <a href="/#/public/pricing">
                Pricing
              </a>
            </li>
            <li>
              <a href="/#/public/contact">
                Contact
              </a>
            </li>
            <li>
              <a href="/#/public/career">
                Careers
              </a>
            </li>
            <li ng-show="!$root.token" class="list_button_small">
              <a href="/#/users/sign_in">
                <button type="button" class="btn btn-default btn-xs">Sign In</button>
              </a>
            </li>
            <li ng-show="!$root.token">
              <a href="/#/users/new">
                <button type="button" class="btn btn-primary btn-xs">Sign Up</button>
              </a>
            </li>
          </ul>
          <!-- user logged in -->
          <ul ng-show="$root.token" class="nav navbar-nav navbar-right">
            <!-- houses -->
            <li class="dropdown hand">
              <a class="dropdown-toggle" data-toggle="dropdown">
                Houses<b class="caret"></b>
              </a>
              <ul class="dropdown-menu" style="margin-top:3px">
                <li>
                  <a href="/#/homes/index">
                    View your houses
                  </a>
                </li>
                <li>
                  <a href="/#/homes/new">
                    Sell your house
                  </a>
                </li>
              </ul>
            </li>
            <!-- houses -->
            <li class="dropdown hand">
              <a class="dropdown-toggle">
                Messages
              </a>
            </li>
            <!-- profile -->
            <li class="dropdown hand">
              <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">
                Profile<b class="caret"></b>
              </a>
              <ul class="dropdown-menu" style="margin-top:3px">
                <li>
                  <a href="/#/users/show/{{$root.id}}">
                    View
                  </a>
                </li>
                <li>
                  <a href="/#/users/edit/{{$root.id}}">
                    Update
                  </a>
                </li>
              </ul>
            </li>
            <!-- sign out -->
            <li ng-controller="usersController">
              <a ng-click="logoutUser()">
                <button type="button" class="btn btn-primary btn-xs">Sign Out</button>
              </a>
            </li>
          </ul>
          <!-- search -->
          <div class="navbar-right animate-if" ng-controller="searchesController" ng-if="$root.url != ''">
            <div class="input-group">
              <form class="navbar-form" ng-submit="searchRedirect()">
                <input type="text" class="form-control" ng-model="query" placeholder="Property search..." required>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    Go!
                  </button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- loading image -->
    <div id="loading">
      <img class="loading" src="images/loading.gif" width="50" height="50">
    </div>

    <!-- ng-view -->
    <div class="container-fluid">
      <div class="row">
        <div class="page span12" ng-view></div>
      </div>
    </div>
  </body>
</html>
