<div ng-init="searchHome()">
  <div class="container-fluid">
    <div class="row-fluid home_from_top">
      <!-- if results came back -->
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- heading title -->
        <div class="user_panel_heading">
          <i class="glyphicon glyphicon-search"></i>
          <span class="padding_left_5">Search Results</span>
        </div>
        <!-- results explained: how many and what was searched -->
        <div class="align_left">
          <span ng-bind="count[0][0]"></span> results were found for "<span ng-bind="query"></span>".
        </div>
        <div ng-if="count[0][0] != 0" class="heading_from_top">
          <!-- search results loop -->
          <div ng-repeat="search in searches">
            <a class="noHover" href="/#/homes/show/{{search.id}}">
              <div class="panel panel-primary">
                <!-- heading: address of house -->
                <div class="panel-heading search_panel_heading">
                  <span class="table_title_padding" ng-bind="search.address"></span><span ng-if="!search.address2">,</span>
                  <span ng-if="search.address2" ng-bind="search.address2">,</span>
                  <span ng-bind="search.city"></span>, 
                  <span ng-bind="search.state"></span>, 
                  <span ng-bind="search.zip"></span>
                </div>
                <div class="search_wrapper">
                  <div class="search_home_image">
                    <!-- comment:1 -->
                    <div ng-if="search.images.length == 0">
                      <img src="/images/home_72.png">
                    </div>
                    <div ng-repeat="image in search.images">
                      <div ng-showimage ng-size=medium ng-type=user ng-image="{{image.image.medium.url}}"></div>
                    </div>
                  </div>
                  <!-- housing information: number of bedrooms, etc. -->
                  <div class="search_home_info">
                    <div class="align_left search_home_info_top">
                      Bedrooms: <span ng-bind="search.bedrooms"></span>
                    </div>
                    <div class="align_left search_home_info_middle">
                      Bathrooms: <span ng-bind="search.bathrooms"></span>
                    </div>
                    <div class="align_left search_home_info_middle">
                      House Size: <span ng-bind="search.lotSizeSqFt"></span> SqFt
                    </div>
                     <div class="align_left search_home_info_bottom">
                      Property Size: <span ng-bind="search.finishedSqFt"></span> SqFt
                    </div>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>
            </a>
          </div>
          <!-- pagination: bottom -->
          <div ng-include src="'/templates/searches/partials/pagination_bottom.html'"></div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <!-- if NO results came back -->
      <div ng-empty ng-total={{count[0][0]}}></div>
    </div>
  </div>
</div>

<!--
Comment:1 
  hack: AngularJS cannot deal with empty arrays apparently
  Must do this here in template cause passing empty array
  to directive just didn't work
-->
