.hand {
  cursor:pointer;
}

.align_left {
  text-align:left;
}

.float_left {
  float:left;
}

.float_right {
  float:right;
}

a.noHover, a.noHover:hover, a:link {
  text-decoration:none;
  font-weight:normal;
  color:#000000;
}
