.hand {
  cursor:pointer;
}

.align_left {
  text-align:left;
}

.float_left {
  float:left;
}

.float_right {
  float:right;
}

a.noHover, a.noHover:hover, a:link {
  text-decoration:none;
  font-weight:normal;
  color:#000000;
}

a.noHover:hover > div {
  background-color:#000000;
  color:#ffffff;
}

.oddRow {
  background-color:#FFFFFF;
}

.evenRow {
  background-color:#f5f5f5;
}

.padding_left_5 {
  padding-left:5px;
}

.font_weight_bold {
  font-weight:bold;
}
