.list_button_small { 
  width:60px
}

.navbar-header div {
  float:left;
}

.navbar-header-name {
  padding-left:10px;
  padding-top:4px;
}

.image_text {
  position: absolute; 
  width:100%; 
  left: 0; 
  vertical-align:center; 
  text-align:center; 
  font-weight:bold; 
  font-size:12pt;
}

.loading {
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
  margin-left: -(X/2)px;
  margin-top: -(Y/2)px;
  -webkit-user-select: none; 
  cursor: -webkit-zoom-in;
  z-index: 10000000;
}

.alert {
  position: absolute;
  width:50%;
  top: 50%;
  left: 25%;
  margin-top: -(Y/2)px;
  margin-right: auto;
  background-color:#e20b00;
  text-align:center;
  z-index: 10000000;
  padding: 20px 0 10px 20;
  color:#FFFFFF;
  font-weight:bold;
}

.marketing .span4 {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.featurette-divider {
  margin: 80px 0;
}

.featurette-divider-small {
  margin: 30px 0;
}

.featurette {
  overflow: hidden;
}

.featurette_left {
  overflow: hidden;
}

.featurette-image {
}

.featurette-image_left {
}

.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.h2-home {
  margin-top:40px;
}

.image_text {
  position: absolute; 
  width:100%; 
  left: 0; 
  vertical-align:center; 
  text-align:center; 
  font-weight:bold; 
  font-size:12pt;
}

.home_top {
  background-color:#18bc9c;
}

.home_top_container {
  padding-top:50px; 
  color:#FFFFFF; 
  font-weight:bold
}

.home_search {
  padding-bottom:50px;
}

.home_input_group {
  margin:0 auto;
}

.table_title {
  text-align:left; 
  padding-left:15px; 
  font-weight:bold;
}

.table_title_large {
  text-align:left; 
  padding-left:15px; 
  font-weight:bold;
  font-size:14pt;
}

.table_info {
  text-align:left; 
}

.table_heading {
  text-align:left;  
  font-weight:bold;
  font-size:16pt;
}

.table_title_padding {
  padding-left:10px;
}

.home_from_top {
  margin-top:20px;
}
