.list_button_small { 
  width:60px
}

.navbar-header div {
  float:left;
}

.navbar-header-name {
  padding-left:10px;
  padding-top:4px;
}

.image_text {
  position: absolute; 
  width:100%; 
  left: 0; 
  vertical-align:center; 
  text-align:center; 
  font-weight:bold; 
  font-size:12pt;
}

.loading {
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
  margin-left: -(X/2)px;
  margin-top: -(Y/2)px;
  -webkit-user-select: none; 
  cursor: -webkit-zoom-in;
  z-index: 10000000;
}

.alert {
  position: absolute;
  width:50%;
  top: 50%;
  left: 25%;
  margin-top: -(Y/2)px;
  margin-right: auto;
  background-color:#e20b00;
  text-align:center;
  z-index: 10000000;
  padding: 20px 0 10px 20;
  color:#FFFFFF;
  font-weight:bold;
}
