.list_button_small { 
  width:60px
}

.navbar-header div {
  float:left;
}

.navbar-header-name {
  padding-left:10px;
  padding-top:4px;
}

.image_text {
  position: absolute; 
  width:100%; 
  left: 0; 
  vertical-align:center; 
  text-align:center; 
  font-weight:bold; 
  font-size:12pt;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -(X/2)px;
  margin-top: -(Y/2)px;
  -webkit-user-select: none; 
  cursor: -webkit-zoom-in;
  z-index: 10000000;
}
