<div class="container-fluid marketing">
  <div class="row-fluid home_from_top">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-md" style="font-size:18pt; width:500px">
        <div style="float:left; background-color:#AAA; height:100%">
          <span><span class="glyphicon glyphicon-lock"></span></span>
        </div>
        <div style="float:left; padding-left:25px">
          Update the Price of Your House
        </div>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid marketing">
  <div class="row-fluid home_from_top">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-md" style="font-size:18pt; width:500px">
        Upload Images of Your House
      </button>
    </div>
  </div>
</div>

<div class="container-fluid marketing">
  <div class="row-fluid home_from_top">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-md" style="font-size:18pt; width:500px">
        Select the Primary Image for Your House
      </button>
    </div>
  </div>
</div>
