<div ng-init="updateHome()">
  <form ng-submit="submitUpdateHome()" class="form-vertical">
    <div class="control-group">
      <!-- flash alerts -->
      <div id="alert" style="display:none; margin-bottom:10px"></div>

      <!-- user - sign up -->
      <h3>Update Your House</h3>
      <div class="controls">
        <input type="text" ng-model="home.price" placeholder="price" class="form-control user_new_input" required/>
        <br>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-primary" type="submit" value="submit"/>
      </div>
    </div>
  </form>
</div>
