<div ng-init='singleHome()'>
  <div ng-repeat="home in homes">
    {{home}}

    <!-- update and delete -->
    <div ng-show="$root.id == home.user_id">
      <input type="file" ng-file-select="onFileSelect($files)" multiple>

      <div ng-init="images()">
        <div ng-repeat="homeImage in homeImages">
          <div ng-showimage ng-image="{{homeImage.image.thumb.url}}"></div>
        </div>
      </div>
      <button ng-click="deleteHome()">Delete Home</button>
    </div>

    <!-- bid -->
    <div ng-show="$root.id != home.user_id">
      <a href="#/bids/new/{{home.id}}">
        <button>Bid on House</button>
      </a>
    </div>
  </div>

  <div ng-controller="bidsController">
    <div ng-init="showBids()">
      <div ng-repeat="bid in bids">
        <span ng-bind="bid.price"></span>
        <br>
        <span ng-bind="bid.email"></span>
      </div>
    </div>
  </div>
</div>
