<div class="user_auth_container" ng-init="updateUser()">
  <!-- view: desktop -->
  <div class="container user_center_panel_new visible-lg">
    <div class="row">
      <div class="col-md-3"></div>
      <!-- user - sign up -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <!-- header -->
          <div class="panel-heading">
            <h3 class="panel-title">
              Update your profile
            </h3>
          </div>
          <div class="panel-body">
            <!-- sign up form -->
            <form ng-submit="submitUpdateUser()" class="form-vertical">
              <div class="control-group user_panel_margin_top">
                <!-- field: first name -->
                <div class="input-group">
                  <input type="text" ng-model="user.firstname" placeholder="first name" class="form-control user_new_input" required/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                </div>
                <br>
                <!-- field: last name -->
                <div class="input-group user_panel_margin_top">
                  <input type="text" ng-model="user.lastname" placeholder="last name" class="form-control user_new_input" required/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                </div>
                <br>
                <!-- field: email -->
                <div class="input-group user_panel_margin_top">
                  <input type="text" ng-model="user.email" placeholder="email" class="form-control user_new_input" required/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                </div>
                <br>
                <!-- field: password -->
                <div class="input-group user_panel_margin_top">
                  <input type="password" ng-model="user.password" placeholder="password" class="form-control user_new_input" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
                <br>
                <!-- field: password confirm -->
                <div class="input-group user_panel_margin_top">
                  <input type="password" ng-model="user.password_confirmation" placeholder="confirm password" class="form-control user_new_input" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
                </div>
              </div>
              <br>
              <!-- field: submit -->
              <div class="control-group user_panel_margin_top">
                <div class="controls">
                  <input class="btn btn-primary" type="submit" value="Sign Up" style="width:100%"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <!-- view: tablet, phone -->
  <div class="container user_center_panel_mobile_new visible-md visible-sm visible-xs">
    <div class="row">
      <!-- user - sign up -->
      <div class="col-md-10">
        <div class="panel panel-default">
          <!-- header -->
          <div class="panel-heading">
            <h3 class="panel-title">
              Update your profile
            </h3>
          </div>
          <div class="panel-body">
            <!-- sign in form -->
            <form ng-submit="submitUpdateUser()" class="form-vertical">
              <div class="control-group user_panel_margin_top">
                <!-- field: first name -->
                <div class="input-group">
                  <input type="text" ng-model="user.firstname" placeholder="first name" class="form-control user_new_input" required/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                </div>
                <br>
                <!-- field: last name -->
                <div class="input-group user_panel_margin_top">
                  <input type="text" ng-model="user.lastname" placeholder="last name" class="form-control user_new_input" required/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                </div>
                <br>
                <!-- field: email -->
                <div class="input-group user_panel_margin_top">
                  <input type="text" ng-model="user.email" placeholder="email" class="form-control user_new_input" required/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                </div>
                <br>
                <!-- field: password -->
                <div class="input-group user_panel_margin_top">
                  <input type="password" ng-model="user.password" placeholder="password" class="form-control user_new_input" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
                <br>
                <!-- field: password confirm -->
                <div class="input-group user_panel_margin_top">
                  <input type="password" ng-model="user.password_confirmation" placeholder="confirm password" class="form-control user_new_input" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
                </div>
              </div>
              <br>
              <!-- field: submit -->
              <div class="control-group user_panel_margin_top">
                <div class="controls">
                  <input class="btn btn-primary" type="submit" value="submit" style="width:100%"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
