<form ng-submit="submitUser()" class="form-vertical">
  <div class="control-group">
    <div id="alert" style="display:none; margin-bottom:10px"></div>

    <label class="control-label">Sign Up:</label>

    <div class="controls">
      <input type="text" ng-model="user.email" placeholder="email" required/>
      <br><br>
      <input type="password" ng-model="user.password" placeholder="password" required/>
      <br><br>
      <input type="password" ng-model="user.password_confirmation" placeholder="confirm password" required/>
      <br><br>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input class="btn btn-primary" type="submit" value="create user"/>
    </div>
  </div>
</form>
