<!-- flash alerts -->
<div id="alert" style="display:none; margin-bottom:10px"></div>

<!-- user data -->
<div ng-init='singleUser()'>
  <div>
    {{user}}
  </div>
  <input type="file" ng-file-select="onFileSelect($files)" multiple>
</div>

<!-- main image -->
Main Image
<div" ng-init="images()" ng-userprimaryimage>
  <div ng-repeat="userImage in userImages">
    <div ng-show="userImage.id == $root.userImagePrimary" ng-showimage ng-image="{{userImage.image.thumb.url}}" ></div>
  </div>
</div>

<br><br>

<!-- show user images -->
<div ng-show="$root.token != user.auth_token" ng-init="images()">
  <div ng-repeat="userImage in userImages">
    <div ng-showimage ng-image="{{userImage.image.thumb.url}}" ng-id="{{userImage.id}}"></div>
  </div>
</div>

<!-- show user images - allow to update -->
<div ng-show="$root.token == user.auth_token" ng-userprimaryimage>
  <form class="form-vertical">
    <div ng-repeat="userImage in userImages" ng-show="userImage.id != $root.userImagePrimary">
      <a class="hand" ng-click="submitUpdateUserPrimaryImage(userImage.id)">
        <span id="image_{{userImage.id}}" ng-showimage ng-image="{{userImage.image.thumb.url}}"></span>
      </a>
    </div>
  </form>
</div>
