<div ng-init='singleUser()'>
  <!-- user -->
  <div class="container-fluid">
    <div class="row-fluid home_from_top">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="float_left">
          <div ng-showimage ng-size=thumb ng-type=user ng-image="{{image.image.medium.url}}" class="user_image"></div>
        </div>
        <div class="user_member_since">
          <!-- user: name -->
          <b><span ng-bind="user.firstname|notAvailable"></span>&nbsp;<span ng-bind="user.lastname|notAvailable"></span></b>
          <br>
          <!-- user: member since -->
          member since: <span ng-bind="user.created_at|dateFormat|notAvailable">
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <!-- panel: options -->
  <div ng-useroptions ng-route={{route}} ng-user={{user.id}}></div>

  <!-- panel: info -->
  <div class="container-fluid">
    <div class="row-fluid home_from_top user_panel_top">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <!-- panel: title -->
          <div class="panel-heading">
            <h3 class="panel-title align_left" ng-show="!route">Activity</h3>
            <h3 class="panel-title align_left" ng-show="route == 'activity'">Activity</h3>
            <h3 class="panel-title align_left" ng-show="route == 'listings'">Listings</h3>
            <h3 class="panel-title align_left" ng-show="route == 'bids'">Bids</h3>
            <h3 class="panel-title align_left" ng-show="route == 'messages'">Messages</h3>
          </div>
          <div class="panel-body">
            <!-- user: activity -->
            <div ng-include src="'/templates/users/partials/activity.html'"></div>
            <!-- user: listings -->
            <div ng-include src="'/templates/users/partials/listings.html'"></div>
            <!-- user: bids -->
            <div ng-include src="'/templates/users/partials/bids.html'"></div>
            <!-- user: bids -->
            <div ng-include src="'/templates/users/partials/messages.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
