<div ng-init='singleUser()'>
  <!-- panel: options -->
  <div ng-useroptions ng-route={{route}} ng-user={{user.id}}></div>

  <!-- panel: info -->
  <div class="container-fluid">
    <div class="row-fluid user_panel_top">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- user: activity -->
        <div ng-include src="'/templates/users/partials/activity.html'"></div>
        <!-- user: listings -->
        <div ng-include src="'/templates/users/partials/listings.html'"></div>
        <!-- user: bids -->
        <div ng-include src="'/templates/users/partials/bids.html'"></div>
        <!-- user: bids -->
        <div ng-include src="'/templates/users/partials/messages.html'"></div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
