<div class="public_top_contact">
  <div class="container public_top_container">
    <img src="images/telephone.png">
    <h1>Contact Us</h1>
  </div>
</div>

<div class="container marketing">
  <hr class="featurette-divider">
  <!-------- Section: Purpose -------->
  <!-- view: desktop, tablet -->
  <div class="featurette_left visible-md visible-lg">
    <img class="featurette-image_left pull-left" src="images/fax_256.png">
    <div style="margin-left:400px">
      <h2 class="featurette-heading align_left" style="margin-top:50px">Contact Information</h2>
      <p class="lead align_left"> 
        Open 24/7/365
        <br><br>
        <span style="font-size:12pt">
          <span style="padding-left:25px">- Address: 7615 Navarro Pl., Austin, Texas 78749</span>
          <br>
          <span style="padding-left:25px">- Phone: 806.777.0259</span>
          <br>
          <span style="padding-left:25px">- Email: bnelson@parallelsolutionsinc.net</span>
        </span>
      </p>
    </div>
  </div>
  <!-- view: phone -->
  <div class="featurette visible-sm visible-xs">
    <img class="featurette-image" src="images/fax_256.png">
    <h2 class="featurette-heading" style="margin-top:50px">Contact Information</h2>
    <p class="lead align_center"> 
        Open 24/7/365
      <br><br>
      <span style="font-size:12pt">
          <span style="padding-left:25px">- Address: 7615 Navarro Pl., Austin, Texas 78749</span>
          <br>
          <span style="padding-left:25px">- Phone: 806.777.0259</span>
          <br>
          <span style="padding-left:25px">- Email: bnelson@parallelsolutionsinc.net</span>
      </span>
    </p>
  </div>

  <hr class="featurette-divider">
</div>

<!-- footer -->
<div ng-include src="'/templates/public/partials/footer.html'"></div>
