<div class="home_top">
  <!-- main -->
  <div class="container home_top_container">
    <img src="images/profile.png">
    <h1>ePerty</h1>
    <p style="font-size:18pt">Your House, Your Commission</p>
  </div>
  <!-- search -->
  <div ng-controller="searchesController" class="home_search">
    <div class="input-group home_input_group">
      <form class="navbar-form" ng-submit="searchRedirect()">
        <input type="text" class="form-control" ng-model="query" placeholder="Property search..." size=45>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            Go!
          </button>
        </span>
      </form>
    </div>
  </div>
</div>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center h2-home">
        <h2>Why should you use ePerty to help sell your house?</h2>
        <hr class="featurette-divider-small">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/money.png" class="img-responsive" alt="" />
        <span class="image_text">It's 100% free</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/safe.png" class="img-responsive" alt="" />
        <span class="image_text">There's nothing to lose</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/seller.png" class="img-responsive" alt="" />
        <span class="image_text">Sellers meet interested buyers</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/buyers.png" class="img-responsive" alt="" />
        <span class="image_text">Buyers can bid on any house</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/contract.png" class="img-responsive" alt="" />
        <span class="image_text">Nothing is contractually binding</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/cake.png" class="img-responsive" alt="" />
        <span class="image_text">Mmmmm...cake</span>
      </div>
    </div>
  </div>
</section>

<div class="container marketing">
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left" src="images/launchpad.svg">
    <h2 class="featurette-heading">Increase Demand for Your House</h2>
    <p class="lead align_left">
      Allow interested buyers to find your house
      <br>
      Have them bid against one another 
      <br>
      Increase the price of your house 
      <br>
    </p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-right" src="images/preserver.svg">
    <h2 class="featurette-heading">Absolutely Nothing to Lose</h2>
    <p class="lead">
      Its 100% free with no gotchas
      <br>
      All bids are not contractually obligated
      <br>
      ePerty helps you find the right buyer for your house
      <br>
    </p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left" src="images/pistons.svg">
    <h2 class="featurette-heading">The Seller is Always in Control</h2>
    <p class="lead">
      You determine which bidder to engage
      <br>
      You have access to your bidders' information
      <br>
      You sell your house for your price
      <br>
    </p>
  </div>
  <hr class="featurette-divider">
</div>

<div ng-footer></div>
