<div class="home_top">
  <!-- main -->
  <div class="container home_top_container">
    <div class="row">
      <img src="images/profile.png">
      <h1>ePerty</h1>
      <p style="font-size:18pt">Your House, Your Commission</p>
    </div>
  </div>
  <!-- search -->
  <div class="container">
    <div class="row">
      <div ng-controller="searchesController" class="home_search">
        <div class="input-group home_input_group">
          <form id="navbar_search_form" class="navbar-form" role="search" ng-submit="searchRedirect()">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Property search..." name="srch-term" id="srch-term" size=45 ng-model="query">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- box images and descriptions -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center h2-home">
        <h2 class="visible-md visible-lg">Why should you use ePerty to help sell your house?</h2>
        <h2 class="visible-sm visible-xs">Why use ePerty to help sell your house?</h2>
        <hr class="featurette-divider-small">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/money.png" class="img-responsive" alt="" />
        <span class="image_text">It's 100% free</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/safe.png" class="img-responsive" alt="" />
        <span class="image_text">There's nothing to lose</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/seller.png" class="img-responsive" alt="" />
        <span class="image_text">Sellers meet interested buyers</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/buyers.png" class="img-responsive" alt="" />
        <span class="image_text">Buyers can bid on any house</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/contract.png" class="img-responsive" alt="" />
        <span class="image_text">Nothing is contractually binding</span>
      </div>
      <div class="col-sm-4 col-sm-4_bottom">
        <img src="images/cake.png" class="img-responsive" alt="" />
        <span class="image_text">Mmmmm...cake</span>
      </div>
    </div>
  </div>
</section>

<div class="container marketing">
  <div class="row">
    <hr class="featurette-divider">
    <!-- view: desktop, tablet -->
    <div class="featurette visible-md visible-lg">
      <img class="featurette-image pull-left" src="images/clients_256.png">
      <h2 class="featurette-heading">Sell Your House to the Right Family</h2>
      <p class="lead">
        &#149; Allow interested buyers to find your house
        <br>
        &#149; Have these buyers place bids on your house
        <br>
        &#149; Learn who the bidders are and which ones to engage
        <br>
      </p>
    </div>
    <!-- view: phone -->
    <div class="featurette visible-sm visible-xs">
      <img class="featurette-image" src="images/clients_256.png">
      <h2 class="featurette-heading">Sell Your House to the Right Family</h2>
      <p class="lead">
        &#149; Allow buyers to find your house
        <br>
        &#149; Have them bid on your house
        <br>
        &#149; Learn who the bidders are and which ones to engage 
        <br>
        &#149; Engage only the ones you want to buy your house
      </p>
    </div>
    <hr class="featurette-divider">
    <!-- view: desktop, tablet -->
    <div class="featurette visible-md visible-lg">
      <img class="featurette-image pull-right" src="images/safety_box_256.png">
      <h2 class="featurette-heading">Absolutely Nothing to Lose</h2>
      <p class="lead">
        &#149; Its 100% free with no gotchas
        <br>
        &#149; All bids are not contractually obligated
        <br>
        &#149; ePerty helps you find the right buyer for your house
        <br>
      </p>
    </div>
    <!-- view: phone -->
    <div class="featurette visible-sm visible-xs">
      <img class="featurette-image" src="images/safety_box_256.png">
      <h2 class="featurette-heading">Nothing to Lose</h2>
      <p class="lead">
        &#149; 100% free with no gotchas
        <br>
        &#149; All bids not contractually obligated
        <br>
        &#149; ePerty helps you find the right buyer
        <br>
      </p>
    </div>
    <hr class="featurette-divider">
    <!-- view: desktop, tablet -->
    <div class="featurette visible-md visible-lg">
      <img class="featurette-image pull-left" src="images/security_256.png">
      <h2 class="featurette-heading">The Seller is Always in Control</h2>
      <p class="lead">
        &#149; You determine which bidder to engage
        <br>
        &#149; You have access to your bidders' information
        <br>
        &#149; You sell your house to the right person
        <br>
      </p>
    </div>
    <!-- view: phone -->
    <div class="featurette visible-sm visible-xs">
      <img class="featurette-image" src="images/security_256.png">
      <h2 class="featurette-heading">Your in Control</h2>
      <p class="lead">
        &#149; You chose the bidders to engage
        <br>
        &#149; Access your bidders' information
        <br>
        &#149; You sell your house to the right person
        <br>
      </p>
    </div>
    <hr class="featurette-divider">
  </div>
</div>

<!-- footer -->
<div ng-include src="'/templates/public/partials/footer.html'"></div>
