<div class="public_top">
  <div class="container public_top_container">
    <img src="images/tool.png">
    <h1>How it Works</h1>
    <p style="font-size:18pt">A simple solution to an age old problem</p>
  </div>
</div>

<!-- only shown on desktop -->
<div class="container marketing visible-lg">
  <hr class="featurette-divider">
  <div class="featurettec_left">
    <img class="featurette-image_left pull-left" src="images/scale.svg">
    <div style="margin-left:400px">
      <h2 class="featurette-heading align_left" style="margin-top:50px">Purpose of ePerty</h2>
      <p class="lead align_left"> 
        Our sole purpose is to connect sellers of houses with interested buyers.
        <br><br>
        <span style="font-size:12pt">
          &#8226;&nbsp; <b>The real question you should be asking is "What do real estate agents do?"</b>
            <br>
            <span style="padding-left:25px">- determine the best price to sell the house</span>
            <br>
            <span style="padding-left:25px">- market the house to interested buyers</span>
            <br>
            <span style="padding-left:25px">- introduce interested buyers to the seller & brokering deals between them</span>
            <br>
            <span style="padding-left:25px">- process all paperwork for the sale of your house</span>
          <br><br>
          &#8226;&nbsp;
          <b>The next question should be ...</b>
          <br>
          <span style="padding-left:25px">"Why can't I do this myself online and not pay 6% of the sale to a real estate agent?"</span>
        </span>
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurette_left">
    <img class="featurette-image_left pull-right" src="images/preserver.svg">
    <div>
      <h2 class="featurette-heading align_left">Finding the Right Price</h2>
      <p class="lead align_left"> 
        Pricing your house correctly could save you months of heartache.
        <br><br>
        <span style="font-size:12pt">
          &#8226;&nbsp; <b>Sellers</b>
            <br>
            <span style="padding-left:25px">- ePerty uses data from multiple sources to help you price your house correctly</span>
            <br>
            <span style="padding-left:25px">- You are given our estimate, the current tax valuation, related house prices, etc.</span>
            <br>
          &#8226;&nbsp; <b>Buyers</b>
            <br>
            <span style="padding-left:25px">- Will see these valuations and know if your asking price is high or low</span>
            <br>
            <span style="padding-left:25px">- Will be given analytics about the neighborhood and its property valuations</span>
        </span>
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurettec_left">
    <img class="featurette-image_left pull-left" src="images/pistons.svg">
    <div style="margin-left:400px">
      <h2 class="featurette-heading align_left" style="margin-top:50px">Marketing</h2>
      <p class="lead align_left"> 
        If no one knows your house is for sale...
        <br><br>
        <span style="font-size:12pt">
          &#8226;&nbsp; <b>COMING SOON - Online advertising</b>
            <br>
            <span style="padding-left:25px">- what if you could reach only the people interested in buying your house?</span>
            <br><br>
            <span style="padding-left:25px">&#8226;&nbsp; <b>Let's say you want to sell your $500,000 house</b></span>
            <br>
            <span style="padding-left:50px">- do you want to advertise it to individuals who make $50,000 and have four children?</span>
            <br>
            <span style="padding-left:50px">- or do you want to advertise to those who make $250,000+ and are looking for houses in your area?</span>
            <br>
            <span style="padding-left:50px">- our automated platform will target the correct house buyers and bring them to your house on ePerty</span>
        </span>
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurette_left">
    <img class="featurette-image_left pull-right" src="images/preserver.svg">
    <div>
      <h2 class="featurette-heading align_left">Paperwork</h2>
      <p class="lead align_left"> 
        We process all paperwork so you just focus on selling your house
        <br><br>
        <span style="font-size:12pt">
          &#8226;&nbsp; <b>COMING SOON - Online paperwork processing with overseeing lawyer</b>
            <br>
            <span style="padding-left:25px">- ePerty will make sure all paperwork is correctly filled</span>
            <br>
            <span style="padding-left:25px">- you will be assigned a lawyer to make sure all t's are crossed</span>
            <br>
        </span>
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
</div>

<div ng-footer></div>
