<div class="public_top">
  <div class="container public_top_container">
    <img src="images/tool.png">
    <h1>How it Works</h1>
    <p style="font-size:18pt">A simple solution to an age old problem</p>
  </div>
</div>

<div class="container marketing">
  <hr class="featurette-divider">
  <!-------- Section: Purpose -------->
  <!-- view: desktop, tablet -->
  <div class="featurettec_left visible-md visible-lg">
    <img class="featurette-image_left pull-left" src="images/home_256.png">
    <div style="margin-left:400px">
      <h2 class="featurette-heading align_left" style="margin-top:50px">Purpose of ePerty</h2>
      <p class="lead align_left"> 
        Our purpose is to transparently connect buyers and sellers
        <br><br>
        <span style="font-size:12pt">
          &#8226;&nbsp; <b>Don't you want to know who is buying your house?</b>
          <br>
          <span style="padding-left:25px">- your house is where your son took his first steps</span>
          <br>
          <span style="padding-left:25px">- its where your daughter spilled grape juice on the living room carpet</span>
          <br>
          <span style="padding-left:25px">- its where you brought your puppy home to</span>
          <br>
          <span style="padding-left:50px">- and where you held it before it passed away</span>
          <br><br>
          &#8226;&nbsp;
          <b>With all these memories, don't you want to leave it to a good family?</b>
          <br>
          <span style="padding-left:25px">- we beleive that complete transparency is the only way to sell a house</span>
          <br>
          <span style="padding-left:25px">- our technology platform puts transparency back into real estate</span>
          <br>
          <span style="padding-left:25px">- ePerty brings buyers and sellers together</span>
        </span>
      </p>
    </div>
  </div>
  <!-- view: phone -->
  <div class="featurette visible-sm visible-xs">
    <img class="featurette-image" src="images/home_256.png">
    <h2 class="featurette-heading" style="margin-top:50px">Purpose</h2>
    <p class="lead align_center"> 
      Our purpose is to transparently connect buyers and sellers
      <br><br>
      <span style="font-size:12pt">
        <b>Who is buying your house?</b>
        <br><br>
        <span>- your house is where your son took his first steps</span>
        <br>
        <span>- its where your daughter spilled grape juice on the living room carpet</span>
        <br>
        <span>- its where you brought your puppy home to</span>
        <br>
        <span>and where you held it before it passed away</span>
        <br><br>
        <b>With these memories, don't you want to leave it to a good family?</b>
        <br><br>
        <span>- we beleive that complete transparency is the only way to sell a house</span>
        <br>
        <span>- our technology platform puts transparency back into real estate</span>
        <br>
        <span>- ePerty brings buyers and sellers together</span>
      </span>
    </p>
  </div>

  <hr class="featurette-divider">

  <!-------- Section: Price -------->
  <!-- view: desktop, tablet -->
  <div class="featurettec_left visible-md visible-lg">
    <img class="featurette-image_left pull-right" src="images/gear_256.png">
    <div>
      <h2 class="featurette-heading align_left">The Process</h2>
      <p class="lead align_left"> 
        A breakdown of how ePery works
        <br><br>
        <span style="font-size:12pt">
          &#8226;&nbsp; <b>Sellers</b>
          <br>
          <span style="padding-left:25px">1.) Put their house on ePery which allows buyers to bid on it</span>
          <br>
          <span style="padding-left:25px">2.) Bids ARE NOT contractually obligated, they are a means of introducing buyers and sellers</span>
          <br>
          <span style="padding-left:25px">3.) Seller's can then see who is bidding and have access to that bidders info such as</span>
          <br><br>
          <span style="padding-left:50px">- photos</span>
          <br>
          <span style="padding-left:50px">- current address</span>
          <br>
          <span style="padding-left:50px">- profession</span>
          <br>
          <span style="padding-left:50px">- how many houses they have bid on</span>
          <br>
          <span style="padding-left:50px">- reason for looking for a house in your neighborhood</span>
          <br>
          <span style="padding-left:50px">- how they will buy your house (cash or loan)</span>
          <br>
          <span style="padding-left:50px">- if they are pre-approved for a loan and how much</span>
          <br>
          <span style="padding-left:50px">- what their interests are, if they have a family, etc.</span>
          <br>
          <span style="padding-left:50px">- ability to communicate with them through messaging system</span>
          <br><br>
          <span style="padding-left:75px">- <b>Coming soon:</b> schedule open houses and times you will privately show the house</span>
          <br>
          <span style="padding-left:75px">- <b>Coming soon:</b> ability to upload property inspection documents</span>
          <br>
          <span style="padding-left:75px">- <b>Coming soon:</b> message board for negotiations (who will repair what)</span>
        </span>
        <br><br>
        <span style="font-size:12pt">
          &#8226;&nbsp; <b>Buyers</b>
          <br>
          <span style="padding-left:25px">1.) Can bid on any house</span>
          <br>
          <span style="padding-left:25px">2.) Given many data points to know if price of house is good</span>
          <br>
          <span style="padding-left:25px">3.) Interact with the seller through messaging system</span>
          <br>
          <span style="padding-left:25px">4.) Can negotiate </span>
          <br>
          <span style="padding-left:25px">5.) Request private showings with seller</span>
        </span>
      </p>
    </div>
  </div>
  <!-- view: phone -->
  <div class="featurette visible-sm visible-xs">
    <img class="featurette-image" src="images/gear_256.png">
    <h2 class="featurette-heading" style="margin-top:50px">The Process</h2>
    <p class="lead align_center"> 
      How Eperty Works
      <br><br>
        <span style="font-size:12pt">
          <b>Sellers</b>
          <br>
          <span>1.) Put their house on ePery which allows buyers to bid on it</span>
          <br>
          <span>2.) Bids ARE NOT contractually obligated</span>
          <br>
          <span>3.) They can then see who is bidding and have access to that bidders info such as</span>
          <br><br>
          <span>- photos</span>
          <br>
          <span>- current address</span>
          <br>
          <span>- profession</span>
          <br>
          <span>- how many houses they have bid on</span>
          <br>
          <span>- reason for looking for a house in your neighborhood</span>
          <br>
          <span>- how they will buy your house (cash or loan)</span>
          <br>
          <span>- if they are pre-approved for a loan and how much</span>
          <br>
          <span>- what their interests are, if they have a family, etc.</span>
          <br>
          <span>- ability to communicate with them through messaging system</span>
          <br><br>
          <span>- <b>Coming soon:</b> schedule open houses and times you will privately show the house</span>
          <br>
          <span>- <b>Coming soon:</b> ability to upload property inspection documents</span>
          <br>
          <span>- <b>Coming soon:</b> message board for negotiations (who will repair what)</span>
        </span>
        <br><br>
        <span style="font-size:12pt">
          <b>Buyers</b>
          <br>
          <span>1.) Can bid on any house</span>
          <br>
          <span>2.) Given many data points to know if price of house is good</span>
          <br>
          <span>3.) Interact with the seller through messaging system</span>
          <br>
          <span>4.) Can negotiate </span>
          <br>
          <span>5.) Request private showings with seller</span>
        </span>
    </p>
  </div>

  <hr class="featurette-divider">
</div>

<!-- footer -->
<div ng-footer></div>
