<div class="public_top_pricing">
  <div class="container public_top_container">
    <img src="images/payment.png">
    <h1>Pricing</h1>
  </div>
</div>

<div class="container marketing">
  <hr class="featurette-divider">
  <!-- view: desktop, tablet -->
  <div class="featurette_left visible-md visible-lg">
    <img class="featurette-image_left pull-left" src="images/check_256.png">
    <div style="margin-left:400px">
      <h2 class="featurette-heading align_left" style="margin-top:50px">ePerty is 100% Free</h2>
      <p class="lead align_left"> 
        No gotchas whatsoever
        <br><br>
        <span style="font-size:12pt">
          <span style="padding-left:25px">- we do not charge for any service</span>
          <br>
          <span style="padding-left:25px">- we do not sell your data...GUARANTEED</span>
        </span>
      </p>
    </div>
  </div>
  <!-- view: phone -->
  <div class="featurette visible-sm visible-xs">
    <img class="featurette-image" src="images/check_256.png">
    <h2 class="featurette-heading" style="margin-top:50px">100% Free</h2>
    <p class="lead align_center"> 
      No gotchas whatsoever
      <br><br>
      <span style="font-size:12pt">
        <span style="padding-left:25px">- we do not charge for any service</span>
        <br>
        <span style="padding-left:25px">- we do not sell your data...GUARANTEED</span>
      </span>
    </p>
  </div>

  <hr class="featurette-divider">
</div>

<!-- footer -->
<div ng-footer></div>
